[Unit]
Description=YARN {{ program }}
After=network.target

[Service]
Type=forking
User={{hdfs_user}}
Group={{hdfs_group}}
ExecStart={{ hdfs_hadoop_home }}/sbin/yarn-daemon.sh --config {{ hdfs_conf_dir }} start {{ program }}
ExecStop={{ hdfs_hadoop_home }}/sbin/yarn-daemon.sh --config {{ hdfs_conf_dir }} stop {{ program }}
RemainAfterExit=no
PIDFile=$HADOOP_PID_DIR/hadoop-yarn-{{program}}.pid

TimeoutSec=300

[Install]
WantedBy=multi-user.target
